.minterContainer {
    margin-top: 50px;
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    background-color: black;
  
    .publicSaleText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      width:90%;
      font-size: 1.8vw;
  
      h1{
        margin-bottom: 3vh;
        font-size: 2.4vw;
      }
    
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      
      .ether_logo {
        width: 20px;
      }
    }
    
    .btn {
      color: #f8d407;
    }
    
    .btn {
      cursor: pointer;
    }
    
    .mintButton {
      font-weight: bold;
      font-size: 2.4vw;
      text-transform: uppercase;
      background-color: white;
      color: black;
      width: fit-content;
      margin: auto;
      margin-top: 3vh;;
      border-radius: 10px;
      padding: 1.2vh 3vw;
      cursor: pointer;
    }
    }
  
    p, h1, h2, h3 {
      text-shadow: 2px 2px 2px #000000;
    }
  }
  
  
  
  
  
  .minterContainer {
    margin-top: 50px;
    padding: 2vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    background-color: black;
  
    .publicSaleText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      width:90%;
      font-size: 1.8vw;
  
      h1{
        margin-bottom: 3vh;
        font-size: 2.4vw;
      }
    
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      
      .ether_logo {
        width: 20px;
      }
    }
    
    .btn {
      color: #f8d407;
    }
    
    .btn {
      cursor: pointer;
    }
    
    .mintButton {
      font-weight: bold;
      font-size: 2.4vw;
      text-transform: uppercase;
      background-color: white;
      color: black;
      width: fit-content;
      margin: auto;
      margin-top: 3vh;;
      border-radius: 10px;
      padding: 1.2vh 3vw;
      cursor: pointer;
    }
    }
  
    p, h1, h2, h3 {
      text-shadow: 2px 2px 2px #000000;
    }
  }
  
  
  
  
  
  